In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as bs_imdb

url_imdb ='https://assets-datascientest.s3.eu-west-1.amazonaws.com/IMDB_en.html'
page_imdb = urlopen(url_imdb)
soup_im =bs_imdb(page_imdb, 'html.parser')

# soup_im.findAll("div")
soup_im.prettify().splitlines()[0:30]

['<!DOCTYPE html>',
 '<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">',
 ' <head>',
 '  <script type="text/javascript">',
 '   var ue_t0=ue_t0||+new Date();',
 '  </script>',
 '  <script type="text/javascript">',
 '   window.ue_ihb = (window.ue_ihb || window.ueinit || 0) + 1;',
 'if (window.ue_ihb === 1) {',
 '',
 'var ue_csm = window,',
 '    ue_hob = +new Date();',
 '(function(d){var e=d.ue=d.ue||{},f=Date.now||function(){return+new Date};e.d=function(b){return f()-(b?0:d.ue_t0)};e.stub=function(b,a){if(!b[a]){var c=[];b[a]=function(){c.push([c.slice.call(arguments),e.d(),d.ue_id])};b[a].replay=function(b){for(var a;a=c.shift();)b(a[0],a[1],a[2])};b[a].isStub=1}};e.exec=function(b,a){return function(){try{return b.apply(this,arguments)}catch(c){ueLogError(c,{attribution:a||"undefined",logLevel:"WARN"})}}}})(ue_csm);',
 '',
 '',
 "    var ue_err_chan = 'jserr';",
 '(function(d,e){function h(f,b){if(!(a.ec>a.mxe)&&f){a.ter.push(f);b=b||{};var c=f.logLevel||b.logLevel;c&&c!==k&&c!==m&&c!==n&&c!==p||a.ec++;c&&c!=k||a.ecf++;b.pageURL=""+(e.location?e.location.href:"");b.logLevel=c;b.attribution=f.attribution||b.attribution;a.erl.push({ex:f,info:b})}}function l(a,b,c,e,g){d.ueLogError({m:a,f:b,l:c,c:""+e,err:g,fromOnError:1,args:arguments},g?{attribution:g.attribution,logLevel:g.logLevel}:void 0);return!1}var k="FATAL",m="ERROR",n="WARN",p="DOWNGRADED",a={ec:0,ecf:0,',
 'pec:0,ts:0,erl:[],ter:[],buffer:[],mxe:50,startTimer:function(){a.ts++;setInterval(function(){d.ue&&a.pec<a.ec&&d.uex("at");a.pec=a.ec},1E4)}};l.skipTrace=1;h.skipTrace=1;h.isStub=1;d.ueLogError=h;d.ue_err=a;e.onerror=l})(ue_csm,window);',
 '',
 '',
 "var ue_id = 'BQWZRBFAM81S7K6ZBPJP',",
 '    ue_url,',
 '    ue_navtiming = 1,',
 "    ue_mid = 'A1EVAM02EL8SFB',",
 "    ue_sid = '142-4733486-5366807',",
 "    ue_sn = 'www.imdb.com',",
 "    ue_furl = 'fls-na.amazon.com',",
 "    ue_surl = 'https://unagi-na.amazon.com/1/events/com.amazon.csm.nexusclient.prod',",
 '    ue_int = 0,',
 '    ue_fcsn = 1,']

In [2]:
films_imdb = soup_im.find('tbody', attrs = {'class': "lister-list"}).find_all('tr')
#films_imdb

In [53]:
films_imdb1 = soup_im.find('td', attrs = {'class': "ratingColumn imdbRating"}).strong
for film_imdb1 in films_imdb1:
     print(film_imdb1.text)

7,3

In [54]:
for film_imdb in films_imdb:
    rating=film_imdb.find('td', {'class':"ratingColumn imdbRating"}).strong
print(rating)

<strong title="6,5 based on 82 101 user ratings">6,5</strong>

In [60]:
import pandas as pd
title = []
release_years = []
rating = []

for film_imdb in films_imdb:
    title.append(film_imdb.find('td', {'class': 'titleColumn'}).a.text)
    release_years.append(film_imdb.find('span', {'class': 'secondaryInfo'}).text.strip('()'))
    rating.append(film_imdb.find('td', {'class': "ratingColumn imdbRating"}).strong)                    
                         
df_imdb = pd.DataFrame(list(zip(title, release_years,rating)), columns=["Title", "release_years","rating"])
    
#     writer.append(bestseller.find('div', {'class': 'a-row a-size-small'}).text)
    
#     price.append(bestseller.find('span', {'class': "p13n-sc-price"}).text)

#books = pd.DataFrame(list(zip(title, writer, price)), columns=["Title", "Writer", "Price"])

df_imdb

                                         Title release_years rating
0   Glass Onion: une histoire à couteaux tirés          2022  [7,3]
1                     Avatar: la voie de l'eau          2022  [7,9]
2                             À couteaux tirés          2019  [7,9]
3                                      Babylon          2022  [7,4]
4                                       Avatar          2009  [7,9]
..                                         ...           ...    ...
95                                 Les Goonies          1985  [7,7]
96                        Mourir peut attendre          2021  [7,3]
97                                Interstellar          2014  [8,6]
98                                        Dune          2021  [8,0]
99                              Last Christmas          2019  [6,5]

[100 rows x 3 columns]

In [47]:
df_imdb.head()

                                        Title release_years rating
0  Glass Onion: une histoire à couteaux tirés          2022  [7,3]
1                    Avatar: la voie de l'eau          2022  [7,9]
2                            À couteaux tirés          2019  [7,9]
3                                     Babylon          2022  [7,4]
4                                      Avatar          2009  [7,9]

In [1]:
import requests
from bs4 import BeautifulSoup

url_meta = 'https://www.metacritic.com/browse/movies/score/metascore/all/filtered?sort=desc'

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0'}

res = requests.get(url_meta, headers=headers).text

soup_meta = BeautifulSoup(res, 'html.parser')
soup_meta.prettify().splitlines()[0:30]

['<!DOCTYPE html>',
 '<html xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://opengraphprotocol.org/schema/">',
 ' <head>',
 '  <title>',
 '   Best Movies of All Time - Metacritic',
 '  </title>',
 '  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>',
 '  <meta content="See how well critics are rating the Best Movies of All Time" name="description"/>',
 '  <meta content="Metacritic" name="application-name"/>',
 '  <meta content="#000000" name="msapplication-TileColor"/>',
 '  <meta content="/images/win8tile/76bf1426-2886-4b87-ae1c-06424b6bb8a2.png" name="msapplication-TileImage"/>',
 '  <meta content="618k3mbeki8tar7u6wvrum5lxs5cka" name="facebook-domain-verification">',
 '   <meta content="Best Movies of All Time" property="og:title"/>',
 '   <meta content="website" property="og:type"/>',
 '   <meta content="https://www.metacritic.com/browse/movies/score/metascore/all/filtered" property="og:url"/>',
 '   <meta content="https://static.metacritic.com/images/icons/mc_fb_og.png" property="og:image"/>',
 '   <meta content="Metacritic" property="og:site_name"/>',
 '   <meta content="123113677890173" property="fb:app_id"/>',
 '   <meta content="@metacritic" property="twitter:site"/>',
 '   <meta content="@metacritic" property="twitter:creator"/>',
 '   <meta content="https://static.metacritic.com/images/icons/mc_fb_og.png" name="twitter:card"/>',
 '   <meta content="See how well critics are rating the Best Movies of All Time" property="og:description"/>',
 '   <link href="https://www.metacritic.com/browse/movies/score/metascore/all/filtered" rel="canonical"/>',
 '   <link href="/browse/movies/score/metascore/all/filtered?sort=desc&amp;page=1" rel="next"/>',
 '   <link href="//cdn.cookielaw.org" pr="1" rel="dns-prefetch"/>',
 '   <link href="//geolocation.onetrust.com" pr="1" rel="dns-prefetch"/>',
 '   <link as="fetch" crossorigin="anonymous" data-no-header="" href="//cdn.cookielaw.org/consent/50e16f1d-a929-4cc0-80a7-3c5c303eea6a/50e16f1d-a929-4cc0-80a7-3c5c303eea6a.json" pr="1" rel="preload" type="application/x-javascript"/>',
 '   <link as="script" data-no-header="" href="https://geolocation.onetrust.com/cookieconsentpub/v1/geo/location" rel="preload" type="text/javascript"/>',
 '   <script type="application/javascript">',
 '    OptanonWrapperQueue = {']

In [2]:
films_meta = soup_meta.find('div', attrs = {'class': "title_bump"}).find_all('td')
film_meta = films_meta[0]

film_meta

<td class="clamp-image-wrap">
<a href="/movie/tokyo-story"><img alt="Tokyo Story" src="https://static.metacritic.com/images/products/movies/5/89265deca082302b1fe5b35db2be3986-98.jpg"/></a>
<span class="mcmust">
<img src="/images/icons/mc-mustsee-sm.svg"/>
</span>
</td>

In [7]:
movies_meta = soup_meta.find('div', attrs = {'class': "title_bump"}).find_all('h3')
for movie in movies_meta:
    print(movie.text)

Tokyo Story
The Godfather
Citizen Kane
Rear Window
Casablanca
Three Colors: Red
Boyhood
Vertigo
Notorious
Singin' in the Rain
Playtime
City Lights
Moonlight
Intolerance
The Rules of the Game
Pinocchio
Touch of Evil
The Zone of Interest
Seven Samurai
The Wild Bunch
Au hasard Balthazar
The Lady Vanishes
The Treasure of the Sierra Madre
Pan's Labyrinth
Some Like It Hot
North by Northwest
Hoop Dreams
Rashomon
The Passion of Joan of Arc
All About Eve
Jules and Jim
My Left Foot
Ran
The Third Man
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
Quo Vadis, Aida?
Psycho
Gone with the Wind
4 Months, 3 Weeks and 2 Days
Battleship Potemkin
A Streetcar Named Desire
The Maltese Falcon
American Graffiti
12 Angry Men
Dumbo
Roma
Man with a Movie Camera
Parasite
Spirited Away
Toy Story
Summer of Soul (...Or, When the Revolution Could Not Be Televised)
The Shop Around the Corner
Rosemary's Baby
12 Years a Slave
Manchester by the Sea
Killer of Sheep
Nashville
Red River
Sansho the Bailiff
Ratatouille
The Grapes of Wrath
Snow White and the Seven Dwarfs
Children of Paradise (1945)
Mean Streets
The Lady Eve
Gravity
Fantasia
Beauty and the Beast
Small Axe: Lovers Rock
The Bride of Frankenstein
Don't Look Now
The Social Network
My Fair Lady
Portrait of a Lady on Fire
I Am Not Your Negro
Woodstock
Past Lives
Aftersun
Rocks
Amour
The Hurt Locker
Anatomy of a Murder
Zero Dark Thirty
Collective
A Separation
Double Indemnity
Sunrise
Schindler's List
Pulp Fiction
WALL-E
Carol
Before Midnight
Amazing Grace
Dunkirk
The Man Who Shot Liberty Valance
The Searchers
45 Years
Taxi Driver
The Servant
Yi Yi

In [8]:
ratings_meta = soup_meta.find_all('div', attrs = {'class': "metascore_w user large movie positive"})
for rating_meta in ratings_meta:
     print(rating_meta.text)

8.7
9.2
8.4
8.7
8.8
8.5
7.4
8.6
7.9
8.6
8.7
7.1
7.1
8.0
8.4
8.7
7.5
7.1
8.2
8.0
8.6
8.3
8.0
8.0
8.5
8.7
6.6
8.3
8.4
8.4
8.4
8.0
8.8
8.3
7.9
8.6
8.2
8.0
7.3
8.8
7.6
7.7
8.7
8.9
8.8
7.1
7.2
8.3
8.0
8.2
6.9
7.8
7.3
8.6
8.5
8.1
7.8
7.3
6.7
7.8
8.3
8.3
7.6
6.8
8.2
7.4
8.6
7.8
6.6
8.1
7.3
8.1
6.9
7.8
8.8
8.6
8.8
9.0
8.8
7.9
8.3
8.2
8.3
8.5
7.5
7.3
7.7
7.5
8.4

In [9]:
import pandas as pd
title = []
meta_rating = []
# rating = []

for movie_meta in movies_meta:
    title.append(movie_meta.text)
for rating_meta in ratings_meta:   
    meta_rating.append(rating_meta.text)
    
    #rating.append(film_imdb.find('td', {'class': "ratingColumn imdbRating"}).strong)                    
                         
df_meta = pd.DataFrame(list(zip(title,meta_rating)), columns=["Title","meta_rating"])
df_meta

               Title meta_rating
0        Tokyo Story         8.7
1      The Godfather         9.2
2       Citizen Kane         8.4
3        Rear Window         8.7
4         Casablanca         8.8
..               ...         ...
84      A Separation         7.5
85  Double Indemnity         7.3
86           Sunrise         7.7
87  Schindler's List         7.5
88      Pulp Fiction         8.4

[89 rows x 2 columns]

In [10]:
df_meta['Title']=df_meta['Title'].str.upper()
df_meta.head()

           Title meta_rating
0    TOKYO STORY         8.7
1  THE GODFATHER         9.2
2   CITIZEN KANE         8.4
3    REAR WINDOW         8.7
4     CASABLANCA         8.8

In [11]:
df_imdb['Title']=df_imdb['Title'].str.upper()
df_imdb.head()

                                        Title release_years rating
0  GLASS ONION: UNE HISTOIRE À COUTEAUX TIRÉS          2022  [7,3]
1                    AVATAR: LA VOIE DE L'EAU          2022  [7,9]
2                            À COUTEAUX TIRÉS          2019  [7,9]
3                                     BABYLON          2022  [7,4]
4                                      AVATAR          2009  [7,9]

In [16]:

df = df_imdb.merge(df_meta, how='inner', on='Title')

In [13]:
df.shape

(2, 4)

In [17]:
df

       Title release_years rating meta_rating
0  PINOCCHIO          2022  [7,7]         8.7
1   AFTERSUN          2022  [7,8]         9.0

In [18]:
filtered_df = df[df['meta_rating'].notnull()]
filtered_df

        Title release_years rating meta_rating
17  PINOCCHIO          2022  [7,7]          99
56   AFTERSUN          2022  [7,8]          96

In [166]:
df_meta.rating.value_counts()

81    22
78    14
80    12
79    12
83     8
91     6
88     6
84     6
85     4
82     4
77     4
86     2
Name: rating, dtype: int64

In [106]:
for film_meta in films_meta:
    name=film_imdb.find('td', {'class': "clamp-image-wrap"}).img
print(name)

AttributeError: 'NoneType' object has no attribute 'img'

In [94]:
import pandas as pd
title = []
rating = []

for film_meta in films_meta:
    title.append(film_imdb.a.img['alt'])
    rating.append(film_meta.find('td', {'class': "ratingColumn imdbRating"}).strong)                    
                         
df_meta = pd.DataFrame(list(zip(title,rating)), columns=["Title","rating"])
    
#     writer.append(bestseller.find('div', {'class': 'a-row a-size-small'}).text)
    
#     price.append(bestseller.find('span', {'class': "p13n-sc-price"}).text)

#books = pd.DataFrame(list(zip(title, writer, price)), columns=["Title", "Writer", "Price"])
    
df_meta

AttributeError: 'NoneType' object has no attribute 'strong'

In [63]:

films_imdb = soup_im.find('tbody', class_= "lister-list")
#films_imdb

In [66]:
#title=[]
for film_imdb in films_imdb:
    title = film_imdb.find('td', class_ ='titleColumn').a.text

TypeError: find() takes no keyword arguments

In [29]:
title= []
for film_imdb in   films_imdb:
    film_imdb= film_imdb.get_text().replace('\n','')
    film_imdb=film_imdb.strip()
    title.append(film_imdb)
print(title)

['Glass Onion: une histoire à couteaux tirés(2022)1(1)', "Avatar: la voie de l'eau(2022)2(1)", 'À couteaux tirés(2019)3(11)', 'Babylon(2022)4(no change)', 'Avatar(2009)5(2)', "Les Banshees d'Inisherin(2022)6(1)", 'Christmas Story(1983)7(10)', 'Matilda, la comédie musicale(2022)8(104)', 'Violent Night(2022)9(3)', 'Top Gun: Maverick(2022)10(9)', 'Bullet Train(2022)11(no change)', 'Love Actually(2003)12(no change)', 'A Christmas Story Christmas(2022)13(9)', "Avalonia, l'étrange voyage(2022)14(20)", "Maman, j'ai raté l'avion!(1990)15(1)", 'La vie est belle(1946)16(11)', 'Le sapin a les boules(1989)17(4)', 'Pinocchio(2022)18(8)', 'White Noise(2022)19(126)', 'The Fabelmans(2022)20(no change)', 'Spirited(2022)21(6)', 'Le chat potté 2: La dernière quête(2022)22(13)', 'Everything Everywhere All at Once(2022)23(6)', 'Knock at the Cabin(2023)24(567)', 'The Whale(2022)25(7)', 'Amsterdam(2022)26(2)', 'Le Pire voisin au monde(2022)27(70)', 'Black Adam(2022)28(20)', 'Top Gun(1986)29(12)', 'X(2022)30(7)', "Le bal de l'enfer(2022)31(453)", 'Piège de cristal(1988)32(1)', 'Le Grinch(2000)33(12)', 'Le menu(2022)34(8)', 'M3gan(2022)35(32)', 'Oppenheimer(2023)36(31)', 'Noël blanc(1954)37(9)', 'Elfe(2003)38(13)', 'Sans filtre(2022)39(9)', 'I Wanna Dance with Somebody(2022)40(4)', "Maman, j'ai encore raté l'avion... et je suis perdu dans New York(1992)41(4)", 'Black Panther: Wakanda Forever(2022)42(9)', "L'enfant, la taupe, le renard et le cheval(2022)19\xa0701(965)", 'The Batman(2022)43(4)', 'Barbare(2022)44(4)', "Don't Worry Darling(2022)45(7)", 'Bones and All(2022)46(14)', 'Le Pôle Express(2004)47(8)', 'Willow(1988)48(2)', 'Matilda(1996)49(212)', 'Smile(2022)50(4)', 'Fantômes en fête(1988)51(9)', 'Nope(2022)52(14)', 'The Holiday(2006)53(7)', 'The Northman(2022)54(17)', "Harry Potter à l'école des sorciers(2001)55(34)", 'Aftersun(2022)56(13)', "A l'Ouest, rien de nouveau(2022)57(19)", 'Le Parrain(1972)58(35)', 'La légende de Klaus(2019)59(6)', 'Barbie(2023)60(51)', 'Super Noël(1994)61(21)', 'Tár(2022)62(13)', 'La famille Addams(1991)63(14)', 'Le Grinch(2018)64(28)', 'Cirkus(2022)65(26)', 'The Pale Blue Eye(2022)66(42)', 'Là où chantent les écrevisses(2022)67(28)', 'Emancipation(2022)68(30)', 'Ticket to Paradise(2022)69(18)', 'Miracle sur la 34ème rue(1994)70(14)', 'Mort sur le Nil(2022)71(85)', 'Elvis(2022)72(27)', 'The Gray Man(2022)73(62)', 'Zoolander(2001)74(13)', 'Encanto, la fantastique famille Madrigal(2021)75(364)', 'Emily the Criminal(2022)76(2)', "L'amant de Lady Chatterley(2022)77(22)", 'Les animaux fantastiques: Les secrets de Dumbledore(2022)78(226)', 'Women Talking(2022)79(57)', 'After: Chapitre 4(2022)80(415)', 'Coup de théâtre(2022)81(20)', '1917(2019)82(321)', 'The Fallout(2021)83(26)', 'The Woman King(2022)84(19)', '7 Femmes(2021)85(6\xa0216)', 'Pearl(2022)86(16)', 'Noël tombe à pic(2022)87(24)', 'Prisoners(2013)88(37)', 'Noël chez les Muppets(1992)89(7)', 'Avatar 3(2024)90(17)', 'Les Évadés(1994)91(19)', 'About Fate(2022)92(12)', 'Thor: Love and Thunder(2022)93(18)', "Le Seigneur des anneaux : La Communauté de l'anneau(2001)94(69)", 'Les Goonies(1985)95(289)', 'Mourir peut attendre(2021)96(93)', 'Interstellar(2014)97(7)', 'Dune(2021)98(32)', 'Last Christmas(2019)99(35)']

In [9]:
rank = soup_im.findall('td', attrs = {'style' : "vertical-align: inherit;"})
rank

TypeError: 'NoneType' object is not callable

In [23]:
ratings= []
for film_imdb in films_imdb:
    ratings.append(film_imdb.get_text().strip())
print(ratings)

['Glass Onion: une histoire à couteaux tirés\n(2022)\n1\n(\n\n1)', "Avatar: la voie de l'eau\n(2022)\n2\n(\n\n1)", 'À couteaux tirés\n(2019)\n3\n(\n\n11)', 'Babylon\n(2022)\n4\n(no change)', 'Avatar\n(2009)\n5\n(\n\n2)', "Les Banshees d'Inisherin\n(2022)\n6\n(\n\n1)", 'Christmas Story\n(1983)\n7\n(\n\n10)', 'Matilda, la comédie musicale\n(2022)\n8\n(\n\n104)', 'Violent Night\n(2022)\n9\n(\n\n3)', 'Top Gun: Maverick\n(2022)\n10\n(\n\n9)', 'Bullet Train\n(2022)\n11\n(no change)', 'Love Actually\n(2003)\n12\n(no change)', 'A Christmas Story Christmas\n(2022)\n13\n(\n\n9)', "Avalonia, l'étrange voyage\n(2022)\n14\n(\n\n20)", "Maman, j'ai raté l'avion!\n(1990)\n15\n(\n\n1)", 'La vie est belle\n(1946)\n16\n(\n\n11)', 'Le sapin a les boules\n(1989)\n17\n(\n\n4)', 'Pinocchio\n(2022)\n18\n(\n\n8)', 'White Noise\n(2022)\n19\n(\n\n126)', 'The Fabelmans\n(2022)\n20\n(no change)', 'Spirited\n(2022)\n21\n(\n\n6)', 'Le chat potté 2: La dernière quête\n(2022)\n22\n(\n\n13)', 'Everything Everywhere All at Once\n(2022)\n23\n(\n\n6)', 'Knock at the Cabin\n(2023)\n24\n(\n\n567)', 'The Whale\n(2022)\n25\n(\n\n7)', 'Amsterdam\n(2022)\n26\n(\n\n2)', 'Le Pire voisin au monde\n(2022)\n27\n(\n\n70)', 'Black Adam\n(2022)\n28\n(\n\n20)', 'Top Gun\n(1986)\n29\n(\n\n12)', 'X\n(2022)\n30\n(\n\n7)', "Le bal de l'enfer\n(2022)\n31\n(\n\n453)", 'Piège de cristal\n(1988)\n32\n(\n\n1)', 'Le Grinch\n(2000)\n33\n(\n\n12)', 'Le menu\n(2022)\n34\n(\n\n8)', 'M3gan\n(2022)\n35\n(\n\n32)', 'Oppenheimer\n(2023)\n36\n(\n\n31)', 'Noël blanc\n(1954)\n37\n(\n\n9)', 'Elfe\n(2003)\n38\n(\n\n13)', 'Sans filtre\n(2022)\n39\n(\n\n9)', 'I Wanna Dance with Somebody\n(2022)\n40\n(\n\n4)', "Maman, j'ai encore raté l'avion... et je suis perdu dans New York\n(1992)\n41\n(\n\n4)", 'Black Panther: Wakanda Forever\n(2022)\n42\n(\n\n9)', "L'enfant, la taupe, le renard et le cheval\n(2022)\n19\xa0701\n(\n\n965)", 'The Batman\n(2022)\n43\n(\n\n4)', 'Barbare\n(2022)\n44\n(\n\n4)', "Don't Worry Darling\n(2022)\n45\n(\n\n7)", 'Bones and All\n(2022)\n46\n(\n\n14)', 'Le Pôle Express\n(2004)\n47\n(\n\n8)', 'Willow\n(1988)\n48\n(\n\n2)', 'Matilda\n(1996)\n49\n(\n\n212)', 'Smile\n(2022)\n50\n(\n\n4)', 'Fantômes en fête\n(1988)\n51\n(\n\n9)', 'Nope\n(2022)\n52\n(\n\n14)', 'The Holiday\n(2006)\n53\n(\n\n7)', 'The Northman\n(2022)\n54\n(\n\n17)', "Harry Potter à l'école des sorciers\n(2001)\n55\n(\n\n34)", 'Aftersun\n(2022)\n56\n(\n\n13)', "A l'Ouest, rien de nouveau\n(2022)\n57\n(\n\n19)", 'Le Parrain\n(1972)\n58\n(\n\n35)', 'La légende de Klaus\n(2019)\n59\n(\n\n6)', 'Barbie\n(2023)\n60\n(\n\n51)', 'Super Noël\n(1994)\n61\n(\n\n21)', 'Tár\n(2022)\n62\n(\n\n13)', 'La famille Addams\n(1991)\n63\n(\n\n14)', 'Le Grinch\n(2018)\n64\n(\n\n28)', 'Cirkus\n(2022)\n65\n(\n\n26)', 'The Pale Blue Eye\n(2022)\n66\n(\n\n42)', 'Là où chantent les écrevisses\n(2022)\n67\n(\n\n28)', 'Emancipation\n(2022)\n68\n(\n\n30)', 'Ticket to Paradise\n(2022)\n69\n(\n\n18)', 'Miracle sur la 34ème rue\n(1994)\n70\n(\n\n14)', 'Mort sur le Nil\n(2022)\n71\n(\n\n85)', 'Elvis\n(2022)\n72\n(\n\n27)', 'The Gray Man\n(2022)\n73\n(\n\n62)', 'Zoolander\n(2001)\n74\n(\n\n13)', 'Encanto, la fantastique famille Madrigal\n(2021)\n75\n(\n\n364)', 'Emily the Criminal\n(2022)\n76\n(\n\n2)', "L'amant de Lady Chatterley\n(2022)\n77\n(\n\n22)", 'Les animaux fantastiques: Les secrets de Dumbledore\n(2022)\n78\n(\n\n226)', 'Women Talking\n(2022)\n79\n(\n\n57)', 'After: Chapitre 4\n(2022)\n80\n(\n\n415)', 'Coup de théâtre\n(2022)\n81\n(\n\n20)', '1917\n(2019)\n82\n(\n\n321)', 'The Fallout\n(2021)\n83\n(\n\n26)', 'The Woman King\n(2022)\n84\n(\n\n19)', '7 Femmes\n(2021)\n85\n(\n\n6\xa0216)', 'Pearl\n(2022)\n86\n(\n\n16)', 'Noël tombe à pic\n(2022)\n87\n(\n\n24)', 'Prisoners\n(2013)\n88\n(\n\n37)', 'Noël chez les Muppets\n(1992)\n89\n(\n\n7)', 'Avatar 3\n(2024)\n90\n(\n\n17)', 'Les Évadés\n(1994)\n91\n(\n\n19)', 'About Fate\n(2022)\n92\n(\n\n12)', 'Thor: Love and Thunder\n(2022)\n93\n(\n\n18)', "Le Seigneur des anneaux : La Communauté de l'anneau\n(2001)\n94\n(\n\n69)", 'Les Goonies\n(1985)\n95\n(\n\n289)', 'Mourir peut attendre\n(2021)\n96\n(\n\n93)', 'Interstellar\n(2014)\n97\n(\n\n7)', 'Dune\n(2021)\n98\n(\n\n32)', 'Last Christmas\n(2019)\n99\n(\n\n35)']

In [71]:
release_years = soup_im.findAll('span', attrs = {'class' : "secondaryInfo"})
release_years[0]

In [33]:
ratings = soup_im.find_all('div', class_= "velocity")
ratings[0]

<div class="velocity">1
<span class="secondaryInfo">(
<span class="global-sprite titlemeter up"></span>
1)</span>
</div>

In [38]:
rate= []
for rate in rate:
    rating= rating.get_text().replace('\n','')
    rating=rating.strip('()')
    rate.append(rating)
print(rate)

NameError: name 'ratings' is not defined

In [22]:
ratings

[]

In [80]:
from bs4 import UnicodeDammit
dammit_p = UnicodeDammit("9,99\xa0€")
dammit_p.unicode_markup

'9,99\xa0€'

In [37]:

import pandas as pd
titles = []
release_years = []
ratings  = []

for film_imdb in films_imdb:
    titles.append(film_imdb.find('font', {'style': 'vertical-align: inherit;'}))
    
    release_years.append(film_imdb.find('span', {'class': 'secondaryInfo'}).string()
    
    ratings.append(film_imdb.find('div', {'class': "velocity"}).replace('\n','').string())

df_imdb = pd.DataFrame(list(zip(titles, release_years, ratings)), columns=["Title", "release_years", "ratings"])

df_imdb

SyntaxError: invalid syntax (Temp/ipykernel_16700/1904439311.py, line 11)